@model BancosMDacosta.Clientes

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Clientes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NifNie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NifNie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellidos)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdCliente }) |
    @Html.ActionLink("Back to List", "Get")
</p>
